@model WebBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMucSanPham.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucSanPham.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

    </dl>
    <label>Ảnh sản phẩm</label>
    <br />
    @foreach (var item in Model.AnhSanPhams)
    {
        <img style="width:200px;height:200px" src="@item.DuongDanAnh" />
    }
</div>
<button class="btn btn-primary">
    @Html.ActionLink("Mua","Add","Cart",new { id = Model.MaSanPham},new { })
</button>
