@model WebBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section CSS{
    <link href="~/Content/SanPham/sanpham.css" rel="stylesheet" />
}
    <div class="sp-detail">
        <div class="header">
            <div class="link-row"><a href="">@Model.DanhMucSanPham.TenDanhMuc</a> > <a href="">@Model.TenSanPham</a></div>
            <br />
            <h3>@Model.TenSanPham</h3>
        </div>
        <hr />
        <div class="content">

            <div>
                <label>Ảnh sản phẩm</label>
                <br />
                @foreach (var item in Model.AnhSanPhams)
                {
                    <img class="anhSP" style="width:200px;height:200px" src="@item.DuongDanAnh" />
                }
            </div>
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.MauSac)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MauSac)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TrongLuong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrongLuong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaSanPham)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaSanPham)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaKhuyenMai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaKhuyenMai)
                </dd>
                <dt>
                    
                </dt>

                <dd>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Mua", "Add", "Cart", new { id = Model.MaSanPham }, new { })
                    </button>
                </dd>
                
            </dl>
            <div class="description">
                <h4>Thong tin them</h4>
                <div class="description-info">
                    @Html.Raw(Model.MoTaSanPham)
                </div>
            </div>
        </div>
        
    </div>

