@model WebBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section CSS{
    <link href="~/Content/SanPham/sanpham.css" rel="stylesheet" />
}
@section Scripts{
    <script>
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
        function showAnh(id) {
                var img = document.getElementById(id);
                modal.style.display = "block";
                modalImg.src = img.src;
                captionText.innerHTML = this.alt;
        }
    </script>    
}
<div class="sp-detail">
    <div class="header">
        @*<div class="link-row"><a href="">@Model.DanhMucSanPham.TenDanhMuc</a> > <a href="">@Model.TenSanPham</a></div>*@
        <br />
        <h3>@Model.TenSanPham</h3>
    </div>
    <hr />
    <div class="content">

        <div>
            <label>Ảnh sản phẩm</label>
            <br />
        </div>
        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.GiaSanPham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaSanPham) vnd
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaKhuyenMai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaKhuyenMai) vnd
            </dd>
            <dt>

            </dt>

            <dd>
                <button class="btn btn-primary">
                    <i></i>
                    @Html.ActionLink("Thêm vào giỏ", "Add", "Cart", new { id = Model.MaSanPham }, new { })
                </button>
            </dd>

        </dl>
        <div class="description">
            <h5 class="description-title">Thông tin thêm</h5>
            <div class="description-info">
                @Html.Raw(Model.MoTaSanPham)
            </div>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
</div>