@model List<WebBanHang.Models.SanPham>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<link href="~/Content/DanhMuc/index.css" rel="stylesheet" />
@Html.Action("AsidePartial")
<main>
    <div class="main-header">
        <div class="main-header-title">
            Danh sách sản phẩm
        </div>
    </div>
    <ul class="main-list">
        @foreach (var item in Model)
        {
            <li class="sanpham">
                <a href="SanPhams/Details/@item.MaSanPham">
                    <div class="image-wrap">
                        @if (item.AnhSanPhams.Count > 0)
                        {
                            <img src="@item.AnhSanPhams.First().DuongDanAnh" class="sanpham-image" alt="Alternate Text" />
                        }
                        else
                        {
                            <img class="sanpham-image" src="~/Image/speedwell.jpg" alt="Alternate Text" />
                        }
                        <span class="giohang-icon hidden-icon">
                        </span>
                        <span class="view-icon hidden-icon">
                        </span>
                    </div>
                    <label class="sanpham-name">@item.TenSanPham </label>
                    <label class="sanpham-price">@item.GiaSanPham</label>
                </a>
            </li>
        }
    </ul>
    <br />
    <div class="pager">
        @if (@ViewBag.pageCurrent == 1 && ViewBag.pageTotal == 1)
        {
            <div class="pager-num">
                Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
            </div>
        }
        else
        {
            if (ViewBag.pageCurrent == 1)
            {
                <button class="btn btn-primary">
                    @Html.ActionLink("Next", "Index", new { page = (int)ViewBag.pageCurrent + 1, pageSize = 9 })
                </button>
                <div class="pager-num">
                    Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
                </div>
            }
            else
            {
                if (ViewBag.pageCurrent == ViewBag.pageTotal)
                {
                    <div class="pager-num">
                        Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
                    </div>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Prev", "Index", new { page = (int)ViewBag.pageCurrent - 1, pageSize = 9 })
                    </button>
                }
                else
                {
                    <button class="btn btn-primary">
                        @Html.ActionLink("Next", "Index", new { page = (int)ViewBag.pageCurrent + 1, pageSize = 9 })
                    </button>
                    <div class="pager-num">
                        Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
                    </div>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Prev", "Index", new { page = (int)ViewBag.pageCurrent - 1, pageSize = 9 })
                    </button>
                }
            }
        }
    </div>
</main>