@model WebBanHang.Models.AnhSanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Sửa ảnh</h2>

@using (Html.BeginForm("Edit", "AnhSanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSanPham)

    @Html.HiddenFor(model => model.DuongDanAnh)
    <div class="form-group">
        <div class="col-md-2">Ảnh cũ</div>
        <div class="col-md-10">
            <img src="@Model.DuongDanAnh" alt="Alternate Text" width="120" height="120" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">Ảnh mới</div>
        <div class="col-md-10">
            <input type="file" name="anhMoi" value="" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-primary">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>
