@model IEnumerable<WebBanHang.Models.BaiViet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBaiViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungBaiViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMucBaiViet.TenDanhMucBaiViet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBaiViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungBaiViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMucBaiViet.TenDanhMucBaiViet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaiViet }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBaiViet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaiViet })
        </td>
    </tr>
}

</table>
