<nav>
    <div class="menu">
        <ul class="menu-list">
            <li>@Html.ActionLink("Trang chủ", "Index", "TrangChu")</li>
            <li>@Html.ActionLink("Cửa hàng", "Index", "DanhMuc")</li>
            <li>@Html.ActionLink("Bài viết", "Index", "TrangChu")</li>
            <li>@Html.ActionLink("Giới thiệu", "Index", "TrangChu")</li>
            <li>@Html.ActionLink("Admin", "Index", "DangNhap")</li>
        </ul>
    </div>
    <span class="nav-button">=</span>
    <div class="logo"></div>
</nav>
