@model WebBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<link href="~/Content/SanPham/sanpham.css" rel="stylesheet" />
@Html.Action("AsidePartial", "DanhMuc")

<main>
    <div class="main-header">
        <h2>@Model.TenSanPham</h2>
    </div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSanPham)
            </dd>

            <dt>
                Màu sắc
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MauSac)
            </dd>

            <dt>
                Trọng lượng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrongLuong)
            </dd>
            <dt>
                Giá sản phẩm
            </dt>
            <dd>
                @ViewBag.giaSp
            </dd>
        </dl>
        <div class="content">
            @Html.Raw(Model.MoTaSanPham)
        </div>
    </div>
</main>

