@model WebBanHang.Services.Dto.SanPhamDetailDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.sanPham.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanPham.MoTaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham.MoTaSanPham)
        </dd>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanPham.GiaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham.GiaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanPham.GiaKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham.GiaKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanPham.KhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanPham.KhuyenMai)
        </dd>
    </dl>
    <label>Ảnh sản phẩm</label>
    <br />
    @foreach (var item in Model.anhSanPhams )
    {
        <img style="width:200px;height:200px" src="@item.DuongDanAnh" />
    }
</div>
<hr />
<div>
    <button class="btn btn-primary">
        @Html.ActionLink("Edit", "Edit", new { id = Model.sanPham.MaSanPham })
    </button>
    <button class="btn btn-primary">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>

