@model IEnumerable<WebBanHang.Models.SanPham>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<hr />
@*<form action="/" method="post">
    <div class="form-group">
        <div class="col-md-1">
            Tìm kiếm
        </div>
        <div class="col-md-4">
            <input type="text" name="tenSp" value="" class="form-control" />
        </div>
        <div class="col-md-4">
            @Html.DropDownList("MaDanhMuc", null, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-timkiem" />
        </div>
    </div>


</form>*@
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSanPham) vnđ
            </td>
            <td>
                <button class="btn btn-primary">
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSanPham })
                </button>
                <button class="btn btn-danger">
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaSanPham })
                </button>
            </td>
        </tr>
    }

</table>
<br />
<div class="pager">
    @if (@ViewBag.pageCurrent == 1 && ViewBag.pageTotal == 1)
    {
        <div class="pager-num">
            Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
        </div>
    }
    else
    {
        if (ViewBag.pageCurrent == 1)
        {
            <button class="btn btn-primary">
                @Html.ActionLink("Next", "Index", new { page = (int)ViewBag.pageCurrent + 1, pageSize = 7 })
            </button>
            <div class="pager-num">
                Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
            </div>
        }
        else
        {
            if (ViewBag.pageCurrent == ViewBag.pageTotal)
            {
                <div class="pager-num">
                    Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
                </div>
                <button class="btn btn-primary">
                    @Html.ActionLink("Prev", "Index", new { page = (int)ViewBag.pageCurrent - 1, pageSize = 7 })
                </button>
            }
            else
            {
                <button class="btn btn-primary">
                    @Html.ActionLink("Next", "Index", new { page = (int)ViewBag.pageCurrent + 1, pageSize = 7 })
                </button> 
                <div class="pager-num">
                    Trang: @ViewBag.pageCurrent / @ViewBag.pageTotal
                </div>
                <button class="btn btn-primary">
                    @Html.ActionLink("Prev", "Index", new { page = (int)ViewBag.pageCurrent - 1, pageSize = 7 })
                </button>
            }
        }
    }
</div>
<hr />

<p>
    <button class="btn btn-primary">
        @Html.ActionLink("Tạo mới", "Create")
    </button>
</p>