@model IEnumerable<WebBanHang.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày xuất hóa đơn
        </th>
        <th>
            Tình trạng thanh toán
        </th>
        <th>
            Địa chỉ người nhận
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Đơn vị giao hàng
        </th>
        <th>
            Mã vận đơn
        </th>
        <th>
           Tổng tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySuatHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNguoiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViGiaoHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaVanDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHoaDon })
        </td>
    </tr>
}

</table>
