@model IEnumerable<WebBanHang.Models.CartDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section CSS{
    
}
<h2>Giỏ hàng</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <button class="btn btn-primary">
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-primary">
    @Html.ActionLink("Thanh toán","Index","ThanhToan")
</button>
