@model IEnumerable<WebBanHang.Models.CartDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section CSS{
    <style>
        .shoping-cart {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom:30px;
        }
    </style>
}
@section Scripts{
    <script>
        function updateCart(id) {
            var amount = document.querySelector(`[ref="${id}"]`).value;
            fetch(`/Cart/Update?id=${id}&amount=${amount}`)
                .then(res => res.text())
                .then(data => {
                    location.reload();
                })
                .catch(err => { })
        };
        function deleteItem(id) {
            fetch(`/Cart/Update?id=${id}&amount=0`)
                .then(res => res.text())
                .then(data => {
                    location.reload();
                })
                .catch(err => { })
        };
    </script>
}
<div class="shoping-cart">
    <br />
    <h2>Giỏ hàng</h2>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Amount, new { htmlAttributes = new { @ref = item.Id } })

                </td>
                <td>
                    <button onclick="JS:deleteItem('@item.Id')" type="button" class="btn btn-primary">Xóa</button>
                    <button onclick="JS:updateCart('@item.Id')" type="button" class="btn btn-primary">Lưu</button>
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary">
        @Html.ActionLink("Thanh toán", "Index", "ThanhToan")
    </button>
    <br />
</div>
