@model IEnumerable<WebBanHang.Models.SanPham>

@{
    ViewBag.Title = "Danh sách các mặt hàng";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Danh sách các mặt hàng</h2>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Màu sắc
            </th>
            <th>
                Trọng lượng
            </th>
            <th>
                Khuyến mãi
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MauSac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrongLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion)
                </td>
                <td class="button-row">
                    <button class="btn btn-primary">
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaSanPham })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Details", "Details", new { id = item.MaSanPham })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaSanPham })
                    </button>

                </td>
            </tr>
        }
        </tbody>
</table>
<div>
    <button class="btn btn-primary">
        @Html.ActionLink("Tạo mới", "Create")
    </button>
</div>
