@using WebBanHang.Models.CuaHang;
@using WebBanHang.HttpHelpers
@model CuaHangViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<main>
    <h1 class="text-center" style="margin-bottom:100px; margin-top:50px;">Danh sách các món ăn</h1>
    <div class="row">
        @foreach (var item in Model.NhaHangs)
        {
            <div class="col-md-4 text-center">
                <div class="card" style="width:18rem;margin-bottom:40px; margin-left:auto;margin-right:auto;">
                    <img class="card-img-top" src="/@item.SanPhams.First().AnhSanPhams.First().DuongDanAnh" alt="Alternate Text" />
                    <div class="card-body">
                        <h3>@item.TenNhaHang</h3>
                        <div>@item.DiaChi</div>
                        <div>
                            @foreach (var maSP in item.SanPhams.Select(sp => sp.DanhMucSanPham.TenDanhMuc).Distinct().ToList())
                            {
                                <span class="badge badge-info">@maSP</span>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Index", "CuaHang", new { maNhaHang = item.MaNhaHang })" class="btn btn-primary">Xem chi tiet</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        @Html.CreatePageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
</main>
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}
@section CSS{
    <link href="~/Content/Home/index.css" rel="stylesheet" />
}

