@model IEnumerable<WebBanHang.Models.DanhMucBaiViet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDanhMucBaiViet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDanhMucBaiViet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDanhMucBaiViet }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDanhMucBaiViet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDanhMucBaiViet })
        </td>
    </tr>
}

</table>
